<head>
    <script src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<div class="col-lg-8">
<div class="panel panel-default">
<div class="panel-heading"><h1 class="text-center">Yeast Bot</h1></div>
<div class="panel-body">
<table class="table table-condensed" style="border-collapse:collapse;">

    <thead>
        <tr><th></th>
            <th>Strain</th>
            <th>Name</th>
            <th>Lab</th>
            <th>Fermentation Temperature</th>
            <th>Attenuation (%)</th>
            <th>Flocculation</th>
            <th>Alcohol Tolerance</th>
        </tr>
    </thead>

    <tbody>
        {% for strain, attrs in data.items %}
        <tr data-toggle="collapse" data-target="#{{ strain.split|join:"_" }}" class="accordion-toggle">
            <td>
                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
            </td>
            <td><a href="{{ attrs.url }}" target="_blank">{{ strain }}</a></td>
            <td>{{ attrs.name }}</td>
            <td>{{ attrs.lab }}</td>
            <td>{{ attrs.temperature }}</td>
            <td>{{ attrs.attenuation }}</td>
            <td>{{ attrs.flocculation }}</td>
            <td>{{ attrs.alcohol_tolerance }}</td>
        </tr>
        <tr>
            <td colspan="8" class="hiddenRow">
            <div class="accordian-body collapse" id="{{ strain.split|join:"_" }}"> 
              <table class="table table-striped">
                    <thead>
                        <tr>
                          <td colspan="8">
                            <h4>Description:</h4>
                            <p>{{ attrs.description }}</p>
                          </td>
                        </tr>
                      </thead>
              </table>
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</div>
</div> 
</div>
</div>
</body>
