{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body>
  <h1 class="text-center"> Yeastbot </h1>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="header"> Strain <i class="icon-sort"></i></th>
                        <th class="header"> Lab <i class="icon-sort"></i></th>
                        <th class="header"> Product Name <i class="icon-sort"></i></th>
                        <th class="header"> Fermentation Temperature Range (&deg;F) <i class="icon-sort"></i></th>
                        <th class="header"> Apparent Attenuation (%) <i class="icon-sort"></i></th>
                        <th class="header"> Flocculation <i class="icon-sort"></i></th>
                        <th class="header"> Alcohol Tolerance (%) <i class="icon-sort"></i></th>
                        <th class="header"> Description <i class="icon-sort"></i></th>
                    </tr>
                </thead>
                <tbody>

                    {% for strain, attrs in data.items %}
                    <tr>
                        <td>{{ strain }}</td>
                        <td>{{ attrs.lab }}</td>
                        <td>{{ attrs.name }}</td>
                        <td>{{ attrs.temperature }}</td>
                        <td>{{ attrs.attenuation }}</td>
                        <td>{{ attrs.flocculation }}</td>
                        <td>{{ attrs.alcohol_tolerance }}</td>
                        <td>{{ attrs.description }}</td>
                    </tr>
                    {% endfor %}
            
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
